<!DOCTYPE html>

<head>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.js"></script>


<script src="/js/reg.js" type="text/javascript"></script>
<script src="/js/login_redirect.js" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

	
<title><%=title%></title>

<!-- Custom CSS -->
<link href="css/modern-business.css" rel="stylesheet">

<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker3.css">


<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"	type="text/css">
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="margin-right:30px;" href="/"><img alt="Brand" src="img/logo.png" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">	
					<form class="navbar-form navbar-right">
						<div class="form-inline" style="padding:9px 0px 0px 0px;">
							<div class="form-group">
							<label class="sr-only" for="exampleInputEmail3">Email address</label>
							<input type="text" name="id" id="id" class="form-control" placeholder="Id" aria-describedby="basic-addon1" style="background-color: #232323;margin-right:10px; height:25px; width:150px;"/>
							</div>
							<div class="form-group">
							<input type="password" name="pwd" id="pwd" placeholder="pw" class="form-control" aria-describedby="basic-addon1" style="background-color: #232323; margin-right:10px;  height:25px; width:150px;"/>
							</div>
							<button id="login" class="btn btn-link" type="button" value="로그인" style="background-color: #232323; height:25px; padding:0px 0px 0px 0px; margin-right:30px; color:#969696;">로그인</button> <a href="/register">
							<button id="reg" type="button" class="btn btn-link" style="background-color: #232323; height:25px; padding:0px 0px 0px 0px; color:#969696;">회원가입</button></a>
						</div>
					</form>
				<ul class="nav navbar-nav ">
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;"><a href="/about?0"
						>피플</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;" id="rdc"><a href="/rdc?user="
						>헌혈증</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;" id="donor"><a href="/donor"
						>기부 게시판</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;"><a href="/commu"
						>커뮤니티</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<div class="container">
		<div class="col-lg-12">
			<h1 class="page-header">회원 가입</h1>
		</div>
		<form class="form-horizontal" method="post" action="/register" role="form" id="register_form" >
			<div class="form-group">
				<label for="input-id" class="col-sm-2 control-label">아이디</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" name="id" id="input-id" placeholder="아이디" maxlength="20">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPW" class="col-sm-2 control-label">비밀번호</label>
				<div class="col-sm-3">
					<input type="password" name="pw" class="form-control" id="inputPW"
						placeholder="비밀번호">
				</div>
			</div>
			<div class="form-group">
				<label for="input-pw-confirm" class="col-sm-2 control-label">비밀번호
					확인</label>
				<div class="col-sm-3">
					<input type="password" name="con_pw"class="form-control" id="input-pw-confirm"
						placeholder="비밀번호 확인">
				</div>
			</div>
			<div class="form-group">
				<label for="input-name" class="col-sm-2 control-label">이름</label>
				<div class="col-sm-2">
					<input type="text" name="name" class="form-control" id="input-name"
						placeholder="이름" maxlength="5">
				</div>
			</div>
			<div class="form-group">
				<label for="input-email" class="col-sm-2 control-label">이메일</label>
				<div class="col-sm-3">
					<input type="email" name="email" class="form-control" id="input-email"
						placeholder="이메일">
				</div>
			</div>
			<div class="form-group">
				<label for="input-phone" class="col-sm-2 control-label">휴대전화</label>
				<div class="col-md-8 col-xs-10 input-phone">
				<div class="form-group row">
				<label class="sr-only" for="input-phone1"></label>
				<div class="col-md-2 col-xs-4">
					<input type="number" name="phone1" class="form-control" id="input-phone1"
						placeholder="">
						</div>
				<label class="sr-only" for="input-phone2"></label>
				<div class="col-md-2 col-xs-4">
					<input type="number" name="phone2" class="form-control" id="input-phone2"
						placeholder="">
						</div>
				<label class="sr-only" for="input-phone3"></label>
				<div class="col-md-2 col-xs-4">
					<input type="number" name="phone3" class="form-control" id="input-phone3"
						placeholder="">
				</div>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label for="input-birthdate" class="col-sm-2 control-label">생년월일</label>
					<div class="col-sm-3" >	
					<div class="input-group date" id="datepicker-container">
							<input type="text" class="form-control" id="input-birthdate"
							placeholder="" readonly name="birth_date"/>
							<span class="input-group-btn" id="basic-addon1">
							<button class="btn btn-default" type="button">
							<i class="glyphicon glyphicon-calendar"></i>
							</button></span>
						</div>
				</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-2 control-label">성별</label>
				<div class="col-sm-10">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default"> 
						<input type="radio"	name="gender-select" id="gender" value="0"> 남자</label> 
						<label class="btn btn-default"> 
						<input type="radio"	name="gender-select" id="gender" value="1"> 여자</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" id="sign_up" data-loading-text="Loading..." autocomplete="off">Sign in</button>
				</div>
			</div>
		</form>
		
	</div>
	<!-- Footer -->
	<footer class="footer">
			<div class="container">
			<span class="text-muted">Copyright &copy; Your website 2016</span>
			</div>
		</footer>
	<div id="reg-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
 	 <div class="modal-dialog modal-sm">
    	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="reg-modal-title">Modal title</h4>
        <div class="modal-body">
        <p id="reg-modal-content">하하하하하</p>
      </div>
      	</div>
    	</div>
  	</div>
</div>
</body>
	
	

