<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.js"></script>

<script src="js/login_redirect.js" type="text/javascript"></script>
	
<title><%=title%></title>

<!-- Custom CSS -->
<link href="css/modern-business.css" rel="stylesheet">

<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">


<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"	type="text/css">

	<!-- Script to Activate the Carousel -->
	<script type="text/javascript">
		$('.carousel').carousel({
			interval : 5000
		//changes the speed
		});
	</script>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="margin-right:30px;" href="/"><img alt="Brand" src="./img/logo.png" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">	
					<form class="navbar-form navbar-right">
						<div class="form-inline" style="padding:9px 0px 0px 0px;">
							<div class="form-group">
							<label class="sr-only" for="exampleInputEmail3">Email address</label>
							<input type="text" name="id" id="id" class="form-control" placeholder="Id" aria-describedby="basic-addon1" style="background-color: #232323;margin-right:10px; height:25px; width:150px;"/>
							</div>
							<div class="form-group">
							<input type="password" name="pwd" id="pwd" placeholder="pw" class="form-control" aria-describedby="basic-addon1" style="background-color: #232323; margin-right:10px;  height:25px; width:150px;"/>
							</div>
							<button id="login" class="btn btn-link" type="button" value="로그인" style="background-color: #232323; height:25px; padding:0px 0px 0px 0px; margin-right:30px; color:#969696;">로그인</button> <a href="/register">
							<button id="reg" type="button" class="btn btn-link" style="background-color: #232323; height:25px; padding:0px 0px 0px 0px; color:#969696;">회원가입</button></a>
						</div>
					</form>
				<ul class="nav navbar-nav ">
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;"><a href="/about?0"
						>피플</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;" id="rdc"><a href="/rdc?user="
						>헌혈증</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;" id="donor"><a href="/donor"
						>기부 게시판</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;"><a href="/commu?tab=0"
						>커뮤니티</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Header Carousel -->

	<!-- Page Content -->
	<div class="container">
		<div class="col-lg-12">
			<h1 class="page-header">메일발송 완료</h1>
		</div>
	<div class="well">인증 메일 발송이 완료되었습니다. 인증 후 이용해 주세요</div>
	</div>
		<!-- Footer -->
		
			<footer class="footer">
				<div class="container">
				<span class="text-muted">Copyright &copy; Your website 2016</span>
				</div>
			</footer>
		
<div id="reg-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
 	 <div class="modal-dialog modal-sm">
    	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="reg-modal-title">Modal title</h4>
        <div class="modal-body">
        <p id="reg-modal-content">하하하하하</p>
      </div>
      	</div>
    	</div>
  	</div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

	
</body>
</html>
